#error-block>div{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    overflow: scroll;
}


@media (min-width: 768px) {
    .edipost-wrapper {
        width: calc( (100%) * 0.5 - 30px );
    }
}
